/* checking dimension element*/
/*  background-color: aquamarine;  */
.home1 {
  /* width: 1440px;
  height: 4989px; */
  margin: 0;
  background: #FFFFFF;
 }
 
 /* Site Header */ 
 /* Site Header Compete */
 
 /* Main Slider */
 /* Main Slider Complete  */
 
 /* Core Services */
 .char-espanol-1 {
  position: relative;
  width: 274px;
  height: 80px;
  margin-top: 6px;
  margin-bottom: 52px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #8B8B8B;
  z-index: 1;
 }
 
 .char-espanol-1 p {
  margin: 0;
 }
 /* Core Services Complete */
 
 /* About Us*/ 
 /* About Us Complete*/
 
 /* Professional Teams */
 .char-espanol-3 {
  position: relative;
  width: 270px;
  height: 63px;
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #8B8B8B;
 }
 .char-espanol-3 p {margin: 0;}
 
 .social-media {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 215px;
  height: 49px;
  justify-content: space-between;
  margin-top: 50px;
 }
 
 .twitter {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .twitter img {
  margin: 14.35px 12px 14.35px 12px;
  object-fit: contain;
 }
 
 .facebook {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .facebook img {
  margin: 12px 18.81px 12px 16.81px;
  object-fit: contain;
 }
 
 .instagram {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .instagram img {
  margin: 12px 12px 12px 12px;
  object-fit: contain;
 }
 /* Professional Teams Complete */
 
 
 /* Contact Us */
 input[type="text"],
 input[type="email"] {
  width: 520px;
  height: 61.58px;
  padding-left: 24px; 
  margin-bottom: 38.32px;
  border-radius: 15px;
  border-color: #D9DDFE;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1rem;
  color: #C5C5C5;
 }
 
 textarea {
  width: 520px;
  height: 239.47px;
  padding-top: 25.32px;
  padding-left: 24px;
  margin-bottom: 38.32px;
  border-radius: 15px;
  border-color: #D9DDFE;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1rem;
  color: #C5C5C5;
 }
 /* Contact Us Complete */
 
 /* Footer */
 .facebook-footer,
 .twitter-footer,
 .linkedin-footer,
 .youtube-footer,
 .instagram-footer {
  width: 25px;
  height: 27.84px;
 } 
 /* Footer Complete */