/* checking dimension element*/
/*  background-color: aquamarine;  */
.home1 {
  width: 1440px;
  height: 4989px;
  margin: 0;
  background: #FFFFFF;
 }
 
 /* Site Header */ 
 /* Site Header Compete */
 
 /* Main Slider */
 /* Main Slider Complete  */
 
 /* Core Services */
 .char-espanol-1 {
  position: relative;
  width: 274px;
  height: 80px;
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #8B8B8B;
  z-index: 1;
 }
 
 .char-espanol-1 p {
  margin: 0;
 }
 /* Core Services Complete */
 
 /* About Us*/ 
 /* About Us Complete*/
 
 /* Professional Teams */
 .char-espanol-3 {
  position: relative;
  width: 270px;
  height: 63px;
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #8B8B8B;
 }
 .char-espanol-3 p {margin: 0;}
 
 .social-media {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 215px;
  height: 49px;
  justify-content: space-between;
  margin-top: 50px;
 }
 
 .twitter {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .twitter img {
  margin: 14.35px 12px 14.35px 12px;
  object-fit: contain;
 }
 
 .facebook {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .facebook img {
  margin: 12px 18.81px 12px 16.81px;
  object-fit: contain;
 }
 
 .instagram {
  width: 49px;
  height: 49px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: -2px 6px 16px -1px #E6E9FD;
 }
 .instagram img {
  margin: 12px 12px 12px 12px;
  object-fit: contain;
 }
 /* Professional Teams Complete */
 
 
 /* Contact Us */
 input[type="text"],
 input[type="email"] {
  width: 520px;
  height: 61.58px;
  padding-left: 24px; 
  margin-bottom: 38.32px;
  /* border: 1px; */
  border-radius: 15px;
  border-color: #D9DDFE;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1rem;
  color: #C5C5C5;
 }
 
 textarea {
  width: 520px;
  height: 239.47px;
  padding-top: 25.32px;
  padding-left: 24px;
  margin-bottom: 38.32px;
  /* border: 1px; */
  border-radius: 15px;
  border-color: #D9DDFE;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1rem;
  color: #C5C5C5;
 }
 /* Contact Us Complete */
 
 /* Footer */
 
 .char-contact-info {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 358px;
  height: 23px;
  margin-top: 1px;
  margin-left: 31px;
 }
 .char-phone-footer {
  width: 140px;
  height: 23px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #D7DBFF;
 }
 .char-phone-footer p {margin: 0;}
 
 .char-mail-footer {
  position: relative;
  width: 190px;
  height: 23px;
  margin-left: 28px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #D7DBFF;
 }
 .char-mail-footer p {margin: 0px;}
 
 
 .sidebar2 {
   position: relative;
   width: 131px;
   height: 219px;
   margin-left: 129px;
   z-index: 1;
 }
 
 .char-pages-footer {
  width: 129px;
  height: 31px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
 }
 
 .char-pages-footer p {
  margin: 0;
 }
 
 .home-footer-button {
  width: 131px;
  height: 24px;
  margin-top: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .home-footer-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .about-footer-button {
  width: 131px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .about-footer-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .about-services-button {
  width: 131px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .about-services-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .about-gallery-button {
  width: 131px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .about-gallery-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .about-team-button {
  width: 131px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .about-team-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .sidebar3 {
   position: relative;
   width: 215px;
   height: 184px;
 margin-left: 173px;
   z-index: 1;
 }
 
 .char-informations-footer {
  width: 175px;
  height: 31px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
 }
 
 .char-informations-footer p {margin: 0;}
 
 .home-terms-condition-button {
  width: 215px;
  height: 24px;
  margin-top: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .home-footer-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .privacy-policy-button {
  width: 215px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .privacy-policy-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .blog-footer-button {
  width: 215px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .blog-footer-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .contact-footer-button {
  width: 215px;
  height: 24px;
  margin-top: 11px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .contact-footer-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 .lower-part-footer{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 31.18px;
 margin-top: 140.05px;
 margin-left: 150px;
 }
 .social-media-footer-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1.95px;
  width: 305px;
  height: 27.84px;
  z-index: 1;
 }
 .facebook-footer,
 .twitter-footer,
 .linkedin-footer,
 .youtube-footer,
 .instagram-footer {
  width: 25px;
  height: 27.84px;
 }
 
 .alt-desain-footer {
  position: relative;
  width: 497px;
  height: 31.18px;
  left: 338px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #D7DBFF;
 }
 
 .alt-desain-footer p {
  margin: 0;
 }
 
 .to-top-button {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 499.34px;
  left: 1339px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
 }
 
 .to-top-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 
 
 /* Footer Complete */